.container {
  min-height: 100vh;
  padding: 10rem 0.5rem;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @media (max-width: 1440px) {
    max-width: 90%;
  }

  .topBanner {
    text-align: center;
    margin-bottom: 5rem;

    .text {
      font-family: Inter;
      font-style: normal;
      font-weight: 900;
      font-size: 29px;
      line-height: 35px;
      text-align: center;

      color: #FFFFFF;
    }

    .subText {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      /* or 148% */

      text-align: center;

      color: #FFFFFF;
    }
  }

  .content {
    width: 100%;
    display: grid;
    gap: 2rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .content .item {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #74A3F3;
    border: 1px solid #534C4C;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
    cursor: pointer;
  }
}
